body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;

}

* html #main {
    height: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Lato);

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/*| Navigation |*/

nav {
    height: 78px;
    width: 100%;
    position: relative;
    background-image: url("../img/pinkback1.jpg");
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .1);
    border: 2px solid rgba(0, 0, 0, .1);
}

nav ul {
    list-style: none;
    position: relative;
    float: right;
    margin-right: 35%;
    display: inline-table;
}

nav ul li {
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav ul li:hover {
    background: rgba(0, 0, 0, .15);
}

nav ul li:hover > ul {
    display: block;
}

nav ul li {
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav ul li a {
    display: block;
    padding: 30px 20px;
    color: #222;
    font-size: .9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul ul {
    display: none;
    background: #fff;
    position: absolute;
    top: 100%;
    box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
}

nav ul ul li {
    float: none;
    position: relative;
}

nav ul ul li a {
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

#main {
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
}

.section {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#welcome {
    position: absolute;
    right: 31%;
    top: 6%;

}

#header {
    background-image: url("../img/pinkback.jpg");
}

#header p {
    padding-top: 2px;
    margin: 0;
    text-align: left;
}

div#locale_changer {
    position: absolute;
    right: 60px;
    top: 20px;
}

.button {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    background-color: #63b427;
    border-color: #4E8B1F;
    padding: 4px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;

}

.count {
    background-color: #63b427;
    padding: 4px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    margin-top: 10px;
    font-size: 10px;
    font-weight: bold;
}

.labelcount {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

.input {
    background-color: #63b427;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
}

.input_select {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: x-large;
    margin: 0;
    width: 60px;
}

.span {
    background-color: transparent;
    border-color: #FF2500;
    text-align: left;
    font-size: x-large;
    margin: 0;
    width: auto;
}

#user_name {
    position: absolute;
    right: 31%;
    top: 12%;
    height: 28px;
    width: 180px;
    border-radius: 5px;
    text-align: left;

}

#password {
    position: absolute;
    right: 18%;
    top: 12%;
    height: 28px;
    width: 180px;
    border-radius: 5px;
    text-align: center;
}

#login_pop {
    position: absolute;
    right: 11%;
    top: 12%;
    width: auto;

}

#join_pop {
    position: absolute;
    right: 2%;
    top: 12%;
    width: auto;
}

#price {
    width: 30px;
    background-color: transparent;
}

#menu {
    background-image: url("../img/pinkback1.jpg");
    width: 75%;
    float: left;
    text-align: center;
    margin: 0 auto;
}

.select {
    border-radius: 5px;
    border-color: #4E8B1F;
}

#input {
    width: 50px;
    float: left;
    text-align: center;

}

#minus {
    background-color: #4E8B1F;
    float: left;

}

#plus {
    background-color: #4E8B1F;
    float: left;

}

.action {
    float: left;
    margin-left: 25px;
    margin-top: 10%;
}

#order {
    width: 25%;
    background-image: url("../img/pinkback2.jpg");
    float: right;
    height: 230%;
}

#order h1 {
    text-align: center;
}

#footer {
    background-image: url("../img/pinkback1.jpg");
    clear: both;
    height: auto;
    margin-top: -50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    text-align: left;
    font-family: 'Handlee', cursive;
    font-size: 8pt;
    margin-bottom: 10px;
    border-radius: 5px;
}

#rasporka {
    height: 50px;
}